<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440479016164-qt2su4hsfd253qiiagtbf4vfieqb5mcb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440479016164-qt2su4hsfd253qiiagtbf4vfieqb5mcb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>440479016164-lkq5986k2b2ma0tbri6p33jf25jt26lv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDjnxPjQW__TRBFjnenE49hGP5WeyuP0IY</string>
	<key>GCM_SENDER_ID</key>
	<string>440479016164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceAdminPanel</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-app-980e0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-app-980e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440479016164:ios:8578fb3bb8b9a6cef6b8f1</string>
</dict>
</plist>